@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
    font-family: 'Roboto', sans-serif;
}

.parallax-container {
    height: 300px;
}

@media (max-width: 550px) {
    .parallax-container {
        height: 180px;
    }
}


#profile_id {
    position: relative;
    top: -100px;
}
/* #coder{
    background-color:red;
   border: 5px solid red;
    top:10px;
    
} */
.projects-card{
  width:300px;
  background-color: #0277BD;

}
@media (max-width: 600px) {
    #profile_id {
        height: 150px;
        position: relative;
        top: -75px;
    }

}

@media (min-width: 600px) {
    #profile_id {
        height: 200px;
        position: relative;
        top: -95px;
    }

}

#hamburger {
    position: fixed;
    left: 15px;
    top: 15px;
    /*background: transparent;*/
    /*border: 1px solid #616161;*/
    /*height: 40px;*/
}

#intro {
    margin-top: -90px;
}

@media (max-width: 380px) {
    #intro {
        margin-top: -65px;
    }

}

#salutation {
    padding-top: 10px;
}

.ham_icon {
    color: #01579B;
    font-size: 30px;
}

#button_custom {
    background-color: #01579B;
}

#light_footer {
    background-color: #ffffff;
}

#dark_footer {
    background-color: #01579B;
}


/*Sticky footer*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


/*end of sticky footer*/

.social_icons {
    height: 30px;
    background-color: white;
    margin-right: 10px;
}

.hide_this_section {
    display: none;
}

.background {
    background-color: #0277BD;
}

.userView {
    height: 250px;
}

#background_image {
    height: 250px;
    margin-left: 0px;
}

.icons_header {
    position: relative;
    top: 18px;
}

#education,
#experience {
    padding-top: 20px;
}

#skills {
    height: 40px;
    position: relative;
    top: 3px;
}

#skills_header {
    margin-bottom: 60px;
    padding-top: 30px;
}

#skills_area {
    margin-top: -30px;
}

#skills_card {
    background-color: #0277BD;
}

#skills_card h5,
#skills_card span {
    color: white;
}

.progress {
    position: relative;
    height: 4px;
    display: block;
    width: 100%;
    border-radius: 2px;
    margin: .5rem 0 1rem 0;
    overflow: hidden;
    background-color: #01579B;
}

.progress .determinate {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    transition: width .3s linear;
    background-color: white;
}

#contacts_header {
    margin-bottom: 60px;
    padding-top: 30px;
}

#contacts {
    height: 40px;
    position: relative;
    top: 3px;
}

.projects-card{
  width:300px;
  background-color: #0277BD;

}
@media only screen and (max-width: 600px) {

  .projects-card{
    width:330px;
    background-color: #0277BD;

  }
}

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ffffff;
    border-radius: 0;
    outline: none;
    height: 3rem;
    width: 100%;
    font-size: 1rem;
    margin: 0 0 20px 0;
    padding: 0;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.3s;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
}

#contacts_card label {
    color: #ffffff;
}

input:not([type]).valid,
input:not([type]):focus.valid,
input[type=text].valid,
input[type=text]:focus.valid,
input[type=password].valid,
input[type=password]:focus.valid,
input[type=email].valid,
input[type=email]:focus.valid,
input[type=url].valid,
input[type=url]:focus.valid,
input[type=time].valid,
input[type=time]:focus.valid,
input[type=date].valid,
input[type=date]:focus.valid,
input[type=datetime].valid,
input[type=datetime]:focus.valid,
input[type=datetime-local].valid,
input[type=datetime-local]:focus.valid,
input[type=tel].valid,
input[type=tel]:focus.valid,
input[type=number].valid,
input[type=number]:focus.valid,
input[type=search].valid,
input[type=search]:focus.valid,
textarea.materialize-textarea.valid,
textarea.materialize-textarea:focus.valid {
    border-bottom: 1px solid #ffffff;
    box-shadow: 0 1px 0 0 #ffffff;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

#contacts_card .material-icons {
    text-rendering: optimizeLegibility;
    -webkit-font-feature-settings: 'liga';
    -moz-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
    color: #ffffff;
}

input,
textarea {
    color: white;
}
